---
swagger: "2.0"
info:
  title: Trends 3-in-1 API
  description: API for Trends 3-in-1
  version: 1.0.1
servers:
- url: https://api.hotelengine.com/api/v2/trends
tags:
- name: General
- name: Financials
- name: Bookers
- name: Travelers
- name: Departments
- name: Travel Policies
- name: Top Locations
- name: Top Vendors
paths:
  /billboard_metrics:
    get:
      tags:
      - General
      summary: Get Trends Summary for the main panel
      description: Retrieve a summary of trends for the specified date range and report type.
      parameters:
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The start date for the summary report (YYYY-MM-DD).
        example: 2024-01-01
      - name: end_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The end date for the summary report (YYYY-MM-DD).
        example: 2024-12-31
      - name: report_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - lodging
          - flights
          - car_rentals
          - all_trips
        description: "The type of report to generate (lodging, flights, car_rentals, all_trips)."
        example: lodging
      - name: filter_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - member
          - department
          - travel_policy
          - custom_field
        description: "The type of filter to apply (member, department, travel_policy, custom_field)."
        example: custom_field
      - name: filter_resource_id
        in: query
        required: false
        schema:
          type: integer
        description: Required if a filter_type is given. The id corresponds to the type of the resource being filtered.
        example: 123
      - name: filter_value
        in: query
        required: false
        schema:
          type: string
        description: Required if a filter_type is custom_field. Identifies the value within the resource. Only applies to the custom_field filter.
        example: SUMMIT 2024
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Include bookings that were cancelled.
        example: "true"
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Add taxes and fees to spending and ADR.
        example: "true"
      responses:
        "200":
          description: A summary of trends.
          content:
            application/json:
              schema:
                type: object
                properties:
                  spending:
                    type: object
                    properties:
                      value:
                        type: string
                        format: decimal
                        description: The total spend for the specified parameters.
                        example: "15000.50"
                      variation:
                        type: string
                        format: decimal
                        description: The variation in total spend compared to the previous period in percentage.
                        example: "5.25"
                  savings:
                    type: object
                    properties:
                      value:
                        type: string
                        format: decimal
                        description: The total savings for the specified parameters.
                        example: "2000.75"
                      variation:
                        type: string
                        format: decimal
                        description: The variation in savings compared to the previous period in percentage.
                        example: "3.45"
                  he_benefits:
                    type: object
                    properties:
                      total:
                        type: string
                        format: decimal
                        description: The total HE benefits.
                        example: "3000.00"
                      he_rewards:
                        type: string
                        format: decimal
                        description: The total HE rewards.
                        example: "1500.00"
                      flex_savings:
                        type: string
                        format: decimal
                        description: The total flex savings.
                        example: "800.00"
                      flex_pro_savings:
                        type: string
                        format: decimal
                        description: The total flex pro savings.
                        example: "400.00"
                      travel_credits:
                        type: string
                        format: decimal
                        description: The total travel credits.
                        example: "300.00"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden - not an admin
        "422":
          description: Unprocessable Entity - bad parameters
        "500":
          description: Internal server error
  /financials/spending_by_date:
    get:
      tags:
      - Financials
      summary: Travel spending grouped by date periods (weekly or monthly)
      parameters:
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The start date for the summary report (YYYY-MM-DD).
        example: 2024-01-01
      - name: end_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The end date for the summary report (YYYY-MM-DD).
        example: 2024-12-31
      - name: report_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - lodging
          - flights
          - car_rentals
          - all_trips
        description: "The type of report to generate (lodging, flights, car_rentals, all_trips)."
        example: lodging
      - name: filter_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - member
          - department
          - travel_policy
          - custom_field
        description: "The type of filter to apply (member, department, travel_policy, custom_field)."
        example: custom_field
      - name: filter_resource_id
        in: query
        required: false
        schema:
          type: integer
        description: Required if a filter_type is given. The id corresponds to the type of the resource being filtered.
        example: 123
      - name: filter_value
        in: query
        required: false
        schema:
          type: string
        description: Required if a filter_type is custom_field. Identifies the value within the resource. Only applies to the custom_field filter.
        example: SUMMIT 2024
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Include bookings that were cancelled.
        example: "true"
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Add taxes and fees to spending and ADR.
        example: "true"
      - name: group_by
        in: query
        required: true
        schema:
          type: string
          enum:
          - week
          - month
        description: The type of grouping for historical data (by week or month).
        example: week
      responses:
        "200":
          description: "Travel spending grouped by date, with additional metrics."
          content:
            application/json:
              schema:
                type: object
                properties:
                  bookings:
                    description: Number of bookings for each date period.
                    type: array
                    example:
                    - 12
                    - 10
                    - 9
                    - 15
                    items:
                      type: number
                  total_spend:
                    description: Total spend on bookings for each date period.
                    type: array
                    example:
                    - "1200.0"
                    - "100.5"
                    - "930.3"
                    - "1599.18"
                    items:
                      type: string
                      format: decimal
                  lodging_spend:
                    description: Lodging spend on bookings for each date period. NOT IN V1.1.
                    type: array
                    example:
                    - "400.00"
                    - "100.50"
                    - "130.30"
                    - "0.0"
                    items:
                      type: string
                      format: decimal
                  flights_spend:
                    description: Lodging spend on bookings for each date period.  NOT IN V1.1.
                    type: array
                    example:
                    - "400.00"
                    - "0.0"
                    - "400.0"
                    - "1599.18"
                    items:
                      type: string
                      format: decimal
                  car_rentals_spend:
                    description: Car rentals spend on bookings for each date period.  NOT IN V1.1.
                    type: array
                    example:
                    - "400.00"
                    - "0.0"
                    - "400.0"
                    - "0.0"
                    items:
                      type: string
                      format: decimal
                  dates:
                    description: Each date period.
                    type: array
                    example:
                    - 2024-12-01
                    - 2024-12-08
                    - 2024-12-15
                    - 2024-12-22
                    items:
                      type: string
                      format: date
                  variation:
                    description: Variation in percentage to the last period in total spending.
                    type: string
                    format: decimal
                    example: "12.4"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden - not an admin
        "422":
          description: Unprocessable Entity - bad parameters
        "500":
          description: Internal server error
  /financials/savings_by_date:
    get:
      tags:
      - Financials
      summary: Travel savings grouped by date periods (weekly or monthly)
      parameters:
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The start date for the summary report (YYYY-MM-DD).
        example: 2024-01-01
      - name: end_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The end date for the summary report (YYYY-MM-DD).
        example: 2024-12-31
      - name: report_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - lodging
          - flights
          - car_rentals
          - all_trips
        description: "The type of report to generate (lodging, flights, car_rentals, all_trips)."
        example: lodging
      - name: filter_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - member
          - department
          - travel_policy
          - custom_field
        description: "The type of filter to apply (member, department, travel_policy, custom_field)."
        example: custom_field
      - name: filter_resource_id
        in: query
        required: false
        schema:
          type: integer
        description: Required if a filter_type is given. The id corresponds to the type of the resource being filtered.
        example: 123
      - name: filter_value
        in: query
        required: false
        schema:
          type: string
        description: Required if a filter_type is custom_field. Identifies the value within the resource. Only applies to the custom_field filter.
        example: SUMMIT 2024
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Include bookings that were cancelled.
        example: "true"
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Add taxes and fees to spending and ADR.
        example: "true"
      - name: group_by
        in: query
        required: true
        schema:
          type: string
          enum:
          - week
          - month
        description: The type of grouping for historical data (by week or month).
        example: week
      responses:
        "200":
          description: Savings against spending grouped by date periods (weekly or monthly)
          content:
            application/json:
              schema:
                type: object
                properties:
                  original_cost:
                    description: Retail cost of bookings for each date period.
                    type: array
                    example:
                    - "1500.0"
                    - "200.0"
                    - "1200.5"
                    - "1999.99"
                    items:
                      type: string
                      format: decimal
                  total_spend:
                    description: Total spend on bookings with savings for each date period.
                    type: array
                    example:
                    - "1200.0"
                    - "100.5"
                    - "930.3"
                    - "1599.18"
                    items:
                      type: string
                      format: decimal
                  dates:
                    description: Each date period.
                    type: array
                    example:
                    - 2024-12-01
                    - 2024-12-08
                    - 2024-12-15
                    - 2024-12-22
                    items:
                      type: string
                      format: date
                  variation:
                    description: Variation in percentage related to the last period.
                    type: string
                    format: decimal
                    example: "12.4"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden - not an admin
        "422":
          description: Unprocessable Entity - bad parameters
        "500":
          description: Internal server error
  /financials/spend_per_booking_summary:
    get:
      tags:
      - Financials
      summary: Spend per booking summary NOT IN V1.1.
      parameters:
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The start date for the summary report (YYYY-MM-DD).
        example: 2024-01-01
      - name: end_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The end date for the summary report (YYYY-MM-DD).
        example: 2024-12-31
      - name: report_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - lodging
          - flights
          - car_rentals
          - all_trips
        description: "The type of report to generate (lodging, flights, car_rentals, all_trips)."
        example: lodging
      - name: filter_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - member
          - department
          - travel_policy
          - custom_field
        description: "The type of filter to apply (member, department, travel_policy, custom_field)."
        example: custom_field
      - name: filter_resource_id
        in: query
        required: false
        schema:
          type: integer
        description: Required if a filter_type is given. The id corresponds to the type of the resource being filtered.
        example: 123
      - name: filter_value
        in: query
        required: false
        schema:
          type: string
        description: Required if a filter_type is custom_field. Identifies the value within the resource. Only applies to the custom_field filter.
        example: SUMMIT 2024
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Include bookings that were cancelled.
        example: "true"
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Add taxes and fees to spending and ADR.
        example: "true"
      responses:
        "401":
          description: Unauthorized
        "403":
          description: Forbidden - not an admin
        "422":
          description: Unprocessable Entity - bad parameters
        "500":
          description: Internal server error
  /financials/bookings_breakdown:
    get:
      tags:
      - Financials
      summary: Bookings with detailed information
      parameters:
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The start date for the summary report (YYYY-MM-DD).
        example: 2024-01-01
      - name: end_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The end date for the summary report (YYYY-MM-DD).
        example: 2024-12-31
      - name: report_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - lodging
          - flights
          - car_rentals
          - all_trips
        description: "The type of report to generate (lodging, flights, car_rentals, all_trips)."
        example: lodging
      - name: filter_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - member
          - department
          - travel_policy
          - custom_field
        description: "The type of filter to apply (member, department, travel_policy, custom_field)."
        example: custom_field
      - name: filter_resource_id
        in: query
        required: false
        schema:
          type: integer
        description: Required if a filter_type is given. The id corresponds to the type of the resource being filtered.
        example: 123
      - name: filter_value
        in: query
        required: false
        schema:
          type: string
        description: Required if a filter_type is custom_field. Identifies the value within the resource. Only applies to the custom_field filter.
        example: SUMMIT 2024
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Include bookings that were cancelled.
        example: "true"
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Add taxes and fees to spending and ADR.
        example: "true"
      - name: limit
        in: query
        required: false
        schema:
          type: number
          default: 10
        description: The maximum number of results.
        example: 20
      - name: offset
        in: query
        required: false
        schema:
          type: number
          default: 0
        description: The offset between the initial data and the current result.
        example: 40
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: The column used for sorting.
        example: spending
      - name: direction
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: The direction of the sorting.
        example: asc
      responses:
        "200":
          description: List of bookings with details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        booking_number:
                          type: string
                          example: G-2123123
                        booking_type:
                          type: string
                          enum:
                          - lodging
                          - flight
                          - car_rental
                          example: lodging
                        travelers:
                          type: array
                          items:
                            type: string
                          example:
                          - Jane Doe
                          - John Doe
                        departments:
                          type: string
                          example: Operations
                        spending:
                          type: string
                          format: decimal
                          example: "1300.5"
                        savings:
                          type: string
                          format: decimal
                          example: "122.32"
                        vendor:
                          type: string
                          example: Holiday Inn
                        date_booked:
                          type: string
                          format: date
                          example: 2024-01-31
                  meta:
                    type: object
                    properties:
                      limit:
                        type: number
                        example: 10
                      offset:
                        type: number
                        example: 0
                      total:
                        type: number
                        example: 35
        "401":
          description: Unauthorized
        "403":
          description: Forbidden - not an admin
        "422":
          description: Unprocessable Entity - bad parameters
        "500":
          description: Internal server error
  /bookers/top_bookers_by_quantity:
    get:
      tags:
      - Bookers
      summary: Top bookers by quantity with variation
      parameters:
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The start date for the summary report (YYYY-MM-DD).
        example: 2024-01-01
      - name: end_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The end date for the summary report (YYYY-MM-DD).
        example: 2024-12-31
      - name: report_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - lodging
          - flights
          - car_rentals
          - all_trips
        description: "The type of report to generate (lodging, flights, car_rentals, all_trips)."
        example: lodging
      - name: filter_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - member
          - department
          - travel_policy
          - custom_field
        description: "The type of filter to apply (member, department, travel_policy, custom_field)."
        example: custom_field
      - name: filter_resource_id
        in: query
        required: false
        schema:
          type: integer
        description: Required if a filter_type is given. The id corresponds to the type of the resource being filtered.
        example: 123
      - name: filter_value
        in: query
        required: false
        schema:
          type: string
        description: Required if a filter_type is custom_field. Identifies the value within the resource. Only applies to the custom_field filter.
        example: SUMMIT 2024
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Include bookings that were cancelled.
        example: "true"
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Add taxes and fees to spending and ADR.
        example: "true"
      responses:
        "200":
          description: "List of top 4 bookers by quantity with quantity and variation, and overall metrics of quantity."
          content:
            application/json:
              schema:
                type: object
                properties:
                  top_bookers:
                    type: array
                    items:
                      type: object
                      properties:
                        full_name:
                          type: string
                          description: Full name of the booker
                          example: Ame Yamerson
                        bookings:
                          type: number
                          description: Number of bookings
                          example: 63
                        variation:
                          type: string
                          format: decimal
                          description: Variation when compared to the last period (null if not appliable)
                          example: "12.4"
                  total_bookings:
                    type: number
                    description: Total number of bookings in the period
                    example: 126
                  total_bookers:
                    type: number
                    description: Total number of distinct bookers in the period
                    example: 4
        "401":
          description: Unauthorized
        "403":
          description: Forbidden - not an admin
        "422":
          description: Unprocessable Entity - bad parameters
        "500":
          description: Internal server error
  /bookers/top_bookers_by_total_spend:
    get:
      tags:
      - Bookers
      summary: Top bookers by total spend
      parameters:
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The start date for the summary report (YYYY-MM-DD).
        example: 2024-01-01
      - name: end_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The end date for the summary report (YYYY-MM-DD).
        example: 2024-12-31
      - name: report_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - lodging
          - flights
          - car_rentals
          - all_trips
        description: "The type of report to generate (lodging, flights, car_rentals, all_trips)."
        example: lodging
      - name: filter_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - member
          - department
          - travel_policy
          - custom_field
        description: "The type of filter to apply (member, department, travel_policy, custom_field)."
        example: custom_field
      - name: filter_resource_id
        in: query
        required: false
        schema:
          type: integer
        description: Required if a filter_type is given. The id corresponds to the type of the resource being filtered.
        example: 123
      - name: filter_value
        in: query
        required: false
        schema:
          type: string
        description: Required if a filter_type is custom_field. Identifies the value within the resource. Only applies to the custom_field filter.
        example: SUMMIT 2024
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Include bookings that were cancelled.
        example: "true"
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Add taxes and fees to spending and ADR.
        example: "true"
      responses:
        "200":
          description: "List of top 4 bookers by spending with quantity and spending, and overall average spending."
          content:
            application/json:
              schema:
                type: object
                properties:
                  top_bookers:
                    type: array
                    items:
                      type: object
                      properties:
                        full_name:
                          type: string
                          description: Full name of the booker
                          example: Ame Yamerson
                        bookings:
                          type: number
                          description: Number of bookings
                          example: 63
                        spending:
                          type: string
                          format: decimal
                          description: Total spending
                          example: "9865.44"
                  average_spending_per_booker:
                    type: string
                    format: decimal
                    description: Total spending divided by the number of bookers
                    example: "823.68"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden - not an admin
        "422":
          description: Unprocessable Entity - bad parameters
        "500":
          description: Internal server error
  /bookers/top_bookers_by_adr:
    get:
      tags:
      - Bookers
      summary: Top bookers by ADR - average daily rate
      parameters:
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The start date for the summary report (YYYY-MM-DD).
        example: 2024-01-01
      - name: end_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The end date for the summary report (YYYY-MM-DD).
        example: 2024-12-31
      - name: report_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - lodging
          - flights
          - car_rentals
          - all_trips
        description: "The type of report to generate (lodging, flights, car_rentals, all_trips)."
        example: lodging
      - name: filter_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - member
          - department
          - travel_policy
          - custom_field
        description: "The type of filter to apply (member, department, travel_policy, custom_field)."
        example: custom_field
      - name: filter_resource_id
        in: query
        required: false
        schema:
          type: integer
        description: Required if a filter_type is given. The id corresponds to the type of the resource being filtered.
        example: 123
      - name: filter_value
        in: query
        required: false
        schema:
          type: string
        description: Required if a filter_type is custom_field. Identifies the value within the resource. Only applies to the custom_field filter.
        example: SUMMIT 2024
      responses:
        "200":
          description: "List of top 4 bookers by ADR (average daily rate) with the ADR, and overall ADR."
          content:
            application/json:
              schema:
                type: object
                properties:
                  top_bookers:
                    type: array
                    items:
                      type: object
                      properties:
                        full_name:
                          type: string
                          description: Full name of the booker
                          example: Game Kamerson
                        adr:
                          type: string
                          format: decimal
                          description: Average daily rate
                          example: "417.58"
                  adr_per_booker:
                    type: string
                    format: decimal
                    description: Total ADR divided by the number of bookers
                    example: "142.21"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden - not an admin
        "422":
          description: Unprocessable Entity - bad parameters
        "500":
          description: Internal server error
  /bookers/bookers_breakdown:
    get:
      tags:
      - Bookers
      summary: Bookers with detailed information
      parameters:
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The start date for the summary report (YYYY-MM-DD).
        example: 2024-01-01
      - name: end_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The end date for the summary report (YYYY-MM-DD).
        example: 2024-12-31
      - name: report_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - lodging
          - flights
          - car_rentals
          - all_trips
        description: "The type of report to generate (lodging, flights, car_rentals, all_trips)."
        example: lodging
      - name: filter_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - member
          - department
          - travel_policy
          - custom_field
        description: "The type of filter to apply (member, department, travel_policy, custom_field)."
        example: custom_field
      - name: filter_resource_id
        in: query
        required: false
        schema:
          type: integer
        description: Required if a filter_type is given. The id corresponds to the type of the resource being filtered.
        example: 123
      - name: filter_value
        in: query
        required: false
        schema:
          type: string
        description: Required if a filter_type is custom_field. Identifies the value within the resource. Only applies to the custom_field filter.
        example: SUMMIT 2024
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Include bookings that were cancelled.
        example: "true"
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Add taxes and fees to spending and ADR.
        example: "true"
      - name: limit
        in: query
        required: false
        schema:
          type: number
          default: 10
        description: The maximum number of results.
        example: 20
      - name: offset
        in: query
        required: false
        schema:
          type: number
          default: 0
        description: The offset between the initial data and the current result.
        example: 40
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: The column used for sorting.
        example: spending
      - name: direction
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: The direction of the sorting.
        example: asc
      - name: format
        in: query
        required: false
        schema:
          type: string
          enum:
          - json
          - csv
          default: json
        description: The format of the response.
        example: json
      responses:
        "200":
          description: List of bookings with details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        booker:
                          type: string
                          example: Anna Banana
                        role:
                          type: string
                          enum:
                          - Administrator
                          - Coordinator
                          - Traveler
                          example: Administrator
                        department:
                          type: string
                          example: Operations
                        spending:
                          type: string
                          format: decimal
                          example: "19756.18"
                        savings:
                          type: string
                          format: decimal
                          example: "3747.75"
                        adr:
                          type: string
                          format: decimal
                          example: "101.73"
                        bookings:
                          type: number
                          example: 28
                        booking_for:
                          type: number
                          description: Note - need more details
                          example: 4
                  meta:
                    type: object
                    properties:
                      limit:
                        type: number
                        example: 10
                      offset:
                        type: number
                        example: 0
                      total:
                        type: number
                        example: 35
        "401":
          description: Unauthorized
        "403":
          description: Forbidden - not an admin
        "422":
          description: Unprocessable Entity - bad parameters
        "500":
          description: Internal server error
  /travelers/all_members_traveling:
    get:
      tags:
      - Travelers
      summary: List the top travelers with the most number of bookings
      parameters:
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The start date for the summary report (YYYY-MM-DD).
        example: 2024-01-01
      - name: end_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The end date for the summary report (YYYY-MM-DD).
        example: 2024-12-31
      - name: report_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - lodging
          - flights
          - car_rentals
          - all_trips
        description: "The type of report to generate (lodging, flights, car_rentals, all_trips)."
        example: lodging
      - name: filter_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - member
          - department
          - travel_policy
          - custom_field
        description: "The type of filter to apply (member, department, travel_policy, custom_field)."
        example: custom_field
      - name: filter_resource_id
        in: query
        required: false
        schema:
          type: integer
        description: Required if a filter_type is given. The id corresponds to the type of the resource being filtered.
        example: 123
      - name: filter_value
        in: query
        required: false
        schema:
          type: string
        description: Required if a filter_type is custom_field. Identifies the value within the resource. Only applies to the custom_field filter.
        example: SUMMIT 2024
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Include bookings that were cancelled.
        example: "true"
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Add taxes and fees to spending and ADR.
        example: "true"
      - name: limit
        in: query
        required: false
        schema:
          type: number
          default: 50
        description: The maximum number of results.
        example: 20
      responses:
        "200":
          description: List of members traveling on the time period (note - verify if we still want to use booking date)
          content:
            application/json:
              schema:
                type: object
                properties:
                  travelers:
                    type: array
                    items:
                      type: object
                      properties:
                        full_name:
                          type: string
                          example: Ame Yamerson
                  total_travelers:
                    type: number
                    example: 41
        "401":
          description: Unauthorized
        "403":
          description: Forbidden - not an admin
        "422":
          description: Unprocessable Entity - bad parameters
        "500":
          description: Internal server error
  /travelers/top_travelers_by_total_spend:
    get:
      tags:
      - Travelers
      summary: Top travelers by total spend
      parameters:
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The start date for the summary report (YYYY-MM-DD).
        example: 2024-01-01
      - name: end_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The end date for the summary report (YYYY-MM-DD).
        example: 2024-12-31
      - name: report_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - lodging
          - flights
          - car_rentals
          - all_trips
        description: "The type of report to generate (lodging, flights, car_rentals, all_trips)."
        example: lodging
      - name: filter_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - member
          - department
          - travel_policy
          - custom_field
        description: "The type of filter to apply (member, department, travel_policy, custom_field)."
        example: custom_field
      - name: filter_resource_id
        in: query
        required: false
        schema:
          type: integer
        description: Required if a filter_type is given. The id corresponds to the type of the resource being filtered.
        example: 123
      - name: filter_value
        in: query
        required: false
        schema:
          type: string
        description: Required if a filter_type is custom_field. Identifies the value within the resource. Only applies to the custom_field filter.
        example: SUMMIT 2024
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Include bookings that were cancelled.
        example: "true"
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Add taxes and fees to spending and ADR.
        example: "true"
      responses:
        "200":
          description: "List of top 10 travelers by spending with quantity and spending, and overall average spending."
          content:
            application/json:
              schema:
                type: object
                properties:
                  top_travelers:
                    type: array
                    items:
                      type: object
                      properties:
                        full_name:
                          type: string
                          description: Full name of the traveler
                          example: Ame Yamerson
                        bookings:
                          type: number
                          description: Number of bookings
                          example: 12
                        spending:
                          type: string
                          format: decimal
                          description: Total spending
                          example: "4234.12"
                  others:
                    type: object
                    properties:
                      quantity_of_others:
                        type: number
                        example: 31
                      bookings:
                        type: number
                        example: 78
                      spending:
                        type: string
                        format: decimal
                        example: "9627.05"
                  average_spending_per_traveler:
                    type: string
                    format: decimal
                    description: Total spending divided by the number of travelers
                    example: "823.68"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden - not an admin
        "422":
          description: Unprocessable Entity - bad parameters
        "500":
          description: Internal server error
  /travelers/top_travelers_by_adr:
    get:
      tags:
      - Travelers
      summary: Top travelers by average daily rate
      parameters:
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The start date for the summary report (YYYY-MM-DD).
        example: 2024-01-01
      - name: end_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The end date for the summary report (YYYY-MM-DD).
        example: 2024-12-31
      - name: report_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - lodging
          - flights
          - car_rentals
          - all_trips
        description: "The type of report to generate (lodging, flights, car_rentals, all_trips)."
        example: lodging
      - name: filter_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - member
          - department
          - travel_policy
          - custom_field
        description: "The type of filter to apply (member, department, travel_policy, custom_field)."
        example: custom_field
      - name: filter_resource_id
        in: query
        required: false
        schema:
          type: integer
        description: Required if a filter_type is given. The id corresponds to the type of the resource being filtered.
        example: 123
      - name: filter_value
        in: query
        required: false
        schema:
          type: string
        description: Required if a filter_type is custom_field. Identifies the value within the resource. Only applies to the custom_field filter.
        example: SUMMIT 2024
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Include bookings that were cancelled.
        example: "true"
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Add taxes and fees to spending and ADR.
        example: "true"
      responses:
        "200":
          description: "List of top 10 travelers by ADR (average daily rate) with the ADR, and overall ADR."
          content:
            application/json:
              schema:
                type: object
                properties:
                  top_travelers:
                    type: array
                    items:
                      type: object
                      properties:
                        full_name:
                          type: string
                          description: Full name of the traveler
                          example: Ame Yamerson
                        adr:
                          type: string
                          format: decimal
                          description: Average daily rate
                          example: "352.84"
                  adr_per_traveler:
                    type: string
                    format: decimal
                    description: Total ADR divided by the number of travelers
                    example: "142.21"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden - not an admin
        "422":
          description: Unprocessable Entity - bad parameters
        "500":
          description: Internal server error
  /travelers/travelers_breakdown:
    get:
      tags:
      - Travelers
      summary: Travelers with detailed information
      parameters:
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The start date for the summary report (YYYY-MM-DD).
        example: 2024-01-01
      - name: end_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The end date for the summary report (YYYY-MM-DD).
        example: 2024-12-31
      - name: report_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - lodging
          - flights
          - car_rentals
          - all_trips
        description: "The type of report to generate (lodging, flights, car_rentals, all_trips)."
        example: lodging
      - name: filter_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - member
          - department
          - travel_policy
          - custom_field
        description: "The type of filter to apply (member, department, travel_policy, custom_field)."
        example: custom_field
      - name: filter_resource_id
        in: query
        required: false
        schema:
          type: integer
        description: Required if a filter_type is given. The id corresponds to the type of the resource being filtered.
        example: 123
      - name: filter_value
        in: query
        required: false
        schema:
          type: string
        description: Required if a filter_type is custom_field. Identifies the value within the resource. Only applies to the custom_field filter.
        example: SUMMIT 2024
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Include bookings that were cancelled.
        example: "true"
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Add taxes and fees to spending and ADR.
        example: "true"
      - name: limit
        in: query
        required: false
        schema:
          type: number
          default: 10
        description: The maximum number of results.
        example: 20
      - name: offset
        in: query
        required: false
        schema:
          type: number
          default: 0
        description: The offset between the initial data and the current result.
        example: 40
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: The column used for sorting.
        example: spending
      - name: direction
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: The direction of the sorting.
        example: asc
      - name: format
        in: query
        required: false
        schema:
          type: string
          enum:
          - json
          - csv
          default: json
        description: The format of the response.
        example: json
      responses:
        "200":
          description: List of travelers with details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        traveler:
                          type: string
                          example: Anna Banana
                        department:
                          type: string
                          example: Operations
                        travel_policy:
                          type: string
                          example: C-Level
                        spending:
                          type: string
                          format: decimal
                          example: "19756.18"
                        savings:
                          type: string
                          format: decimal
                          example: "3747.75"
                        adr:
                          type: string
                          format: decimal
                          example: "101.73"
                        bookings:
                          type: number
                          example: 28
                  meta:
                    type: object
                    properties:
                      limit:
                        type: number
                        example: 10
                      offset:
                        type: number
                        example: 0
                      total:
                        type: number
                        example: 35
        "401":
          description: Unauthorized
        "403":
          description: Forbidden - not an admin
        "422":
          description: Unprocessable Entity - bad parameters
        "500":
          description: Internal server error
  /departments/top_departments_by_quantity:
    get:
      tags:
      - Departments
      summary: Top departments by quantity with variation
      parameters:
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The start date for the summary report (YYYY-MM-DD).
        example: 2024-01-01
      - name: end_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The end date for the summary report (YYYY-MM-DD).
        example: 2024-12-31
      - name: report_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - lodging
          - flights
          - car_rentals
          - all_trips
        description: "The type of report to generate (lodging, flights, car_rentals, all_trips)."
        example: lodging
      - name: filter_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - member
          - department
          - travel_policy
          - custom_field
        description: "The type of filter to apply (member, department, travel_policy, custom_field)."
        example: custom_field
      - name: filter_resource_id
        in: query
        required: false
        schema:
          type: integer
        description: Required if a filter_type is given. The id corresponds to the type of the resource being filtered.
        example: 123
      - name: filter_value
        in: query
        required: false
        schema:
          type: string
        description: Required if a filter_type is custom_field. Identifies the value within the resource. Only applies to the custom_field filter.
        example: SUMMIT 2024
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Include bookings that were cancelled.
        example: "true"
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Add taxes and fees to spending and ADR.
        example: "true"
      responses:
        "200":
          description: "List of top 4 departments by quantity with quantity and variation, and overall metrics of quantity."
          content:
            application/json:
              schema:
                type: object
                properties:
                  top_departments:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Department name
                          example: Operations
                        bookings:
                          type: number
                          description: Number of bookings
                          example: 63
                        variation:
                          type: string
                          format: decimal
                          description: Variation when compared to the last period (null if not appliable)
                          example: "12.4"
                  total_bookings:
                    type: number
                    description: Total number of bookings in the period
                    example: 126
                  total_departments:
                    type: number
                    description: Total number of distinct departments booking in the period
                    example: 4
        "401":
          description: Unauthorized
        "403":
          description: Forbidden - not an admin
        "422":
          description: Unprocessable Entity - bad parameters
        "500":
          description: Internal server error
  /departments/top_departments_by_total_spend:
    get:
      tags:
      - Departments
      summary: Top departments by total spend
      parameters:
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The start date for the summary report (YYYY-MM-DD).
        example: 2024-01-01
      - name: end_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The end date for the summary report (YYYY-MM-DD).
        example: 2024-12-31
      - name: report_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - lodging
          - flights
          - car_rentals
          - all_trips
        description: "The type of report to generate (lodging, flights, car_rentals, all_trips)."
        example: lodging
      - name: filter_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - member
          - department
          - travel_policy
          - custom_field
        description: "The type of filter to apply (member, department, travel_policy, custom_field)."
        example: custom_field
      - name: filter_resource_id
        in: query
        required: false
        schema:
          type: integer
        description: Required if a filter_type is given. The id corresponds to the type of the resource being filtered.
        example: 123
      - name: filter_value
        in: query
        required: false
        schema:
          type: string
        description: Required if a filter_type is custom_field. Identifies the value within the resource. Only applies to the custom_field filter.
        example: SUMMIT 2024
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Include bookings that were cancelled.
        example: "true"
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Add taxes and fees to spending and ADR.
        example: "true"
      responses:
        "200":
          description: "List of top 4 departments by spending with quantity and spending, and overall average spending."
          content:
            application/json:
              schema:
                type: object
                properties:
                  top_departments:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Department name
                          example: Operations
                        bookings:
                          type: number
                          description: Number of bookings
                          example: 63
                        spending:
                          type: string
                          format: decimal
                          description: Total spending
                          example: "9865.44"
                  average_spending_per_department:
                    type: string
                    format: decimal
                    description: Total spending divided by the number of departments
                    example: "823.68"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden - not an admin
        "422":
          description: Unprocessable Entity - bad parameters
        "500":
          description: Internal server error
  /departments/top_departments_by_adr:
    get:
      tags:
      - Departments
      summary: Top departments by average daily rate
      parameters:
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The start date for the summary report (YYYY-MM-DD).
        example: 2024-01-01
      - name: end_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The end date for the summary report (YYYY-MM-DD).
        example: 2024-12-31
      - name: report_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - lodging
          - flights
          - car_rentals
          - all_trips
        description: "The type of report to generate (lodging, flights, car_rentals, all_trips)."
        example: lodging
      - name: filter_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - member
          - department
          - travel_policy
          - custom_field
        description: "The type of filter to apply (member, department, travel_policy, custom_field)."
        example: custom_field
      - name: filter_resource_id
        in: query
        required: false
        schema:
          type: integer
        description: Required if a filter_type is given. The id corresponds to the type of the resource being filtered.
        example: 123
      - name: filter_value
        in: query
        required: false
        schema:
          type: string
        description: Required if a filter_type is custom_field. Identifies the value within the resource. Only applies to the custom_field filter.
        example: SUMMIT 2024
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Include bookings that were cancelled.
        example: "true"
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Add taxes and fees to spending and ADR.
        example: "true"
      responses:
        "200":
          description: "List of top 4 departments by ADR (average daily rate) with the ADR, and overall ADR."
          content:
            application/json:
              schema:
                type: object
                properties:
                  top_departments:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Department name
                          example: Operations
                        adr:
                          type: string
                          format: decimal
                          description: Average daily rate
                          example: "417.58"
                  adr_per_department:
                    type: string
                    format: decimal
                    description: Total ADR divided by the number of departments
                    example: "142.21"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden - not an admin
        "422":
          description: Unprocessable Entity - bad parameters
        "500":
          description: Internal server error
  /departments/departments_breakdown:
    get:
      tags:
      - Departments
      summary: Departments with detailed information
      parameters:
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The start date for the summary report (YYYY-MM-DD).
        example: 2024-01-01
      - name: end_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The end date for the summary report (YYYY-MM-DD).
        example: 2024-12-31
      - name: report_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - lodging
          - flights
          - car_rentals
          - all_trips
        description: "The type of report to generate (lodging, flights, car_rentals, all_trips)."
        example: lodging
      - name: filter_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - member
          - department
          - travel_policy
          - custom_field
        description: "The type of filter to apply (member, department, travel_policy, custom_field)."
        example: custom_field
      - name: filter_resource_id
        in: query
        required: false
        schema:
          type: integer
        description: Required if a filter_type is given. The id corresponds to the type of the resource being filtered.
        example: 123
      - name: filter_value
        in: query
        required: false
        schema:
          type: string
        description: Required if a filter_type is custom_field. Identifies the value within the resource. Only applies to the custom_field filter.
        example: SUMMIT 2024
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Include bookings that were cancelled.
        example: "true"
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Add taxes and fees to spending and ADR.
        example: "true"
      - name: limit
        in: query
        required: false
        schema:
          type: number
          default: 10
        description: The maximum number of results.
        example: 20
      - name: offset
        in: query
        required: false
        schema:
          type: number
          default: 0
        description: The offset between the initial data and the current result.
        example: 40
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: The column used for sorting.
        example: spending
      - name: direction
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: The direction of the sorting.
        example: asc
      - name: format
        in: query
        required: false
        schema:
          type: string
          enum:
          - json
          - csv
          default: json
        description: The format of the response.
        example: json
      responses:
        "200":
          description: List of departments with details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        department:
                          type: string
                          example: Operations
                        spending:
                          type: string
                          format: decimal
                          example: "19756.18"
                        savings:
                          type: string
                          format: decimal
                          example: "3747.75"
                        top_booker:
                          type: string
                          example: Anna Banana
                        top_traveler:
                          type: string
                          example: Anna Banana
                        bookings:
                          type: number
                          example: 24
                  meta:
                    type: object
                    properties:
                      limit:
                        type: number
                        example: 10
                      offset:
                        type: number
                        example: 0
                      total:
                        type: number
                        example: 35
        "401":
          description: Unauthorized
        "403":
          description: Forbidden - not an admin
        "422":
          description: Unprocessable Entity - bad parameters
        "500":
          description: Internal server error
  /travel_policies/top_lodging_adr:
    get:
      tags:
      - Travel Policies
      summary: Top travel policy lodging ADR relative to the limit
      parameters:
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The start date for the summary report (YYYY-MM-DD).
        example: 2024-01-01
      - name: end_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The end date for the summary report (YYYY-MM-DD).
        example: 2024-12-31
      - name: report_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - lodging
          - flights
          - car_rentals
          - all_trips
        description: "The type of report to generate (lodging, flights, car_rentals, all_trips)."
        example: lodging
      - name: filter_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - member
          - department
          - travel_policy
          - custom_field
        description: "The type of filter to apply (member, department, travel_policy, custom_field)."
        example: custom_field
      - name: filter_resource_id
        in: query
        required: false
        schema:
          type: integer
        description: Required if a filter_type is given. The id corresponds to the type of the resource being filtered.
        example: 123
      - name: filter_value
        in: query
        required: false
        schema:
          type: string
        description: Required if a filter_type is custom_field. Identifies the value within the resource. Only applies to the custom_field filter.
        example: SUMMIT 2024
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Include bookings that were cancelled.
        example: "true"
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Add taxes and fees to spending and ADR.
        example: "true"
      responses:
        "200":
          description: List of top 3 travel policies by number with the ADR and travel policy current limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  top_travel_policies:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Travel policy name
                          example: Executive
                        adr:
                          type: string
                          format: decimal
                          description: Average daily rate
                          example: "232.0"
                        limit:
                          type: string
                          format: decimal
                          description: Travel policy current limit (null represents no limit)
                          example: "240.0"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden - not an admin
        "422":
          description: Unprocessable Entity - bad parameters
        "500":
          description: Internal server error
  /travel_policies/top_flight_slice:
    get:
      tags:
      - Travel Policies
      summary: Top travel policy flight slice cost relative to the limit - NOT IN V1.1
      parameters:
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The start date for the summary report (YYYY-MM-DD).
        example: 2024-01-01
      - name: end_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The end date for the summary report (YYYY-MM-DD).
        example: 2024-12-31
      - name: report_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - lodging
          - flights
          - car_rentals
          - all_trips
        description: "The type of report to generate (lodging, flights, car_rentals, all_trips)."
        example: lodging
      - name: filter_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - member
          - department
          - travel_policy
          - custom_field
        description: "The type of filter to apply (member, department, travel_policy, custom_field)."
        example: custom_field
      - name: filter_resource_id
        in: query
        required: false
        schema:
          type: integer
        description: Required if a filter_type is given. The id corresponds to the type of the resource being filtered.
        example: 123
      - name: filter_value
        in: query
        required: false
        schema:
          type: string
        description: Required if a filter_type is custom_field. Identifies the value within the resource. Only applies to the custom_field filter.
        example: SUMMIT 2024
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Include bookings that were cancelled.
        example: "true"
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Add taxes and fees to spending and ADR.
        example: "true"
      responses:
        "401":
          description: Unauthorized
        "403":
          description: Forbidden - not an admin
        "422":
          description: Unprocessable Entity - bad parameters
        "500":
          description: Internal server error
  /travel_policies/top_car_rental_adr:
    get:
      tags:
      - Travel Policies
      summary: Top travel policy car rental ADR relative to the limit - NOT IN V1.1
      parameters:
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The start date for the summary report (YYYY-MM-DD).
        example: 2024-01-01
      - name: end_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The end date for the summary report (YYYY-MM-DD).
        example: 2024-12-31
      - name: report_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - lodging
          - flights
          - car_rentals
          - all_trips
        description: "The type of report to generate (lodging, flights, car_rentals, all_trips)."
        example: lodging
      - name: filter_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - member
          - department
          - travel_policy
          - custom_field
        description: "The type of filter to apply (member, department, travel_policy, custom_field)."
        example: custom_field
      - name: filter_resource_id
        in: query
        required: false
        schema:
          type: integer
        description: Required if a filter_type is given. The id corresponds to the type of the resource being filtered.
        example: 123
      - name: filter_value
        in: query
        required: false
        schema:
          type: string
        description: Required if a filter_type is custom_field. Identifies the value within the resource. Only applies to the custom_field filter.
        example: SUMMIT 2024
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Include bookings that were cancelled.
        example: "true"
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Add taxes and fees to spending and ADR.
        example: "true"
      responses:
        "401":
          description: Unauthorized
        "403":
          description: Forbidden - not an admin
        "422":
          description: Unprocessable Entity - bad parameters
        "500":
          description: Internal server error
  /travel_policies/travel_policies_breakdown:
    get:
      tags:
      - Travel Policies
      summary: Travel Policies with detailed information
      parameters:
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The start date for the summary report (YYYY-MM-DD).
        example: 2024-01-01
      - name: end_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The end date for the summary report (YYYY-MM-DD).
        example: 2024-12-31
      - name: report_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - lodging
          - flights
          - car_rentals
          - all_trips
        description: "The type of report to generate (lodging, flights, car_rentals, all_trips)."
        example: lodging
      - name: filter_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - member
          - department
          - travel_policy
          - custom_field
        description: "The type of filter to apply (member, department, travel_policy, custom_field)."
        example: custom_field
      - name: filter_resource_id
        in: query
        required: false
        schema:
          type: integer
        description: Required if a filter_type is given. The id corresponds to the type of the resource being filtered.
        example: 123
      - name: filter_value
        in: query
        required: false
        schema:
          type: string
        description: Required if a filter_type is custom_field. Identifies the value within the resource. Only applies to the custom_field filter.
        example: SUMMIT 2024
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Include bookings that were cancelled.
        example: "true"
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Add taxes and fees to spending and ADR.
        example: "true"
      - name: limit
        in: query
        required: false
        schema:
          type: number
          default: 10
        description: The maximum number of results.
        example: 20
      - name: offset
        in: query
        required: false
        schema:
          type: number
          default: 0
        description: The offset between the initial data and the current result.
        example: 40
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: The column used for sorting.
        example: spending
      - name: direction
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: The direction of the sorting.
        example: asc
      - name: format
        in: query
        required: false
        schema:
          type: string
          enum:
          - json
          - csv
          default: json
        description: The format of the response.
        example: json
      responses:
        "200":
          description: List of travel policies with details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        travel_policy:
                          type: string
                          example: Executive
                        spending:
                          type: string
                          format: decimal
                          example: "19756.18"
                        savings:
                          type: string
                          format: decimal
                          example: "3747.75"
                        members:
                          type: number
                          example: 120
                        bookings:
                          type: number
                          example: 24
                        top_booker:
                          type: string
                          example: Anna Banana
                        top_traveler:
                          type: string
                          example: Anna Banana
                  meta:
                    type: object
                    properties:
                      limit:
                        type: number
                        example: 10
                      offset:
                        type: number
                        example: 0
                      total:
                        type: number
                        example: 35
        "401":
          description: Unauthorized
        "403":
          description: Forbidden - not an admin
        "422":
          description: Unprocessable Entity - bad parameters
        "500":
          description: Internal server error
  /locations/top_locations_by_quantity:
    get:
      tags:
      - Top Locations
      summary: Top locations by quantity
      parameters:
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The start date for the summary report (YYYY-MM-DD).
        example: 2024-01-01
      - name: end_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The end date for the summary report (YYYY-MM-DD).
        example: 2024-12-31
      - name: report_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - lodging
          - flights
          - car_rentals
          - all_trips
        description: "The type of report to generate (lodging, flights, car_rentals, all_trips)."
        example: lodging
      - name: filter_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - member
          - department
          - travel_policy
          - custom_field
        description: "The type of filter to apply (member, department, travel_policy, custom_field)."
        example: custom_field
      - name: filter_resource_id
        in: query
        required: false
        schema:
          type: integer
        description: Required if a filter_type is given. The id corresponds to the type of the resource being filtered.
        example: 123
      - name: filter_value
        in: query
        required: false
        schema:
          type: string
        description: Required if a filter_type is custom_field. Identifies the value within the resource. Only applies to the custom_field filter.
        example: SUMMIT 2024
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Include bookings that were cancelled.
        example: "true"
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Add taxes and fees to spending and ADR.
        example: "true"
      responses:
        "200":
          description: "List of top 4 locations by quantity with number of bookings, latitude, and longitude"
          content:
            application/json:
              schema:
                type: object
                properties:
                  top_locations:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Location name
                          example: "Kansas City, MO"
                        bookings:
                          type: number
                          description: Number of bookings
                          example: 42
                        latitude:
                          type: string
                          format: decimal
                          example: "4.121212"
                        longitude:
                          type: string
                          format: decimal
                          example: "-5.121212"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden - not an admin
        "422":
          description: Unprocessable Entity - bad parameters
        "500":
          description: Internal server error
  /locations/top_locations_by_total_spend:
    get:
      tags:
      - Top Locations
      summary: Top locations by total spend
      parameters:
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The start date for the summary report (YYYY-MM-DD).
        example: 2024-01-01
      - name: end_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The end date for the summary report (YYYY-MM-DD).
        example: 2024-12-31
      - name: report_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - lodging
          - flights
          - car_rentals
          - all_trips
        description: "The type of report to generate (lodging, flights, car_rentals, all_trips)."
        example: lodging
      - name: filter_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - member
          - department
          - travel_policy
          - custom_field
        description: "The type of filter to apply (member, department, travel_policy, custom_field)."
        example: custom_field
      - name: filter_resource_id
        in: query
        required: false
        schema:
          type: integer
        description: Required if a filter_type is given. The id corresponds to the type of the resource being filtered.
        example: 123
      - name: filter_value
        in: query
        required: false
        schema:
          type: string
        description: Required if a filter_type is custom_field. Identifies the value within the resource. Only applies to the custom_field filter.
        example: SUMMIT 2024
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Include bookings that were cancelled.
        example: "true"
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Add taxes and fees to spending and ADR.
        example: "true"
      responses:
        "200":
          description: "List of top 4 locations by spending with quantity and spending, and overall average spending."
          content:
            application/json:
              schema:
                type: object
                properties:
                  top_locations:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Location name
                          example: "Kansas City, MO"
                        bookings:
                          type: number
                          description: Number of bookings
                          example: 42
                        spending:
                          type: string
                          format: decimal
                          description: Total spending
                          example: "9865.44"
                  average_spending_per_location:
                    type: string
                    format: decimal
                    description: Total spending divided by the number of locations
                    example: "823.68"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden - not an admin
        "422":
          description: Unprocessable Entity - bad parameters
        "500":
          description: Internal server error
  /locations/top_locations_by_adr:
    get:
      tags:
      - Top Locations
      summary: Top locations by average daily rate
      parameters:
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The start date for the summary report (YYYY-MM-DD).
        example: 2024-01-01
      - name: end_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The end date for the summary report (YYYY-MM-DD).
        example: 2024-12-31
      - name: report_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - lodging
          - flights
          - car_rentals
          - all_trips
        description: "The type of report to generate (lodging, flights, car_rentals, all_trips)."
        example: lodging
      - name: filter_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - member
          - department
          - travel_policy
          - custom_field
        description: "The type of filter to apply (member, department, travel_policy, custom_field)."
        example: custom_field
      - name: filter_resource_id
        in: query
        required: false
        schema:
          type: integer
        description: Required if a filter_type is given. The id corresponds to the type of the resource being filtered.
        example: 123
      - name: filter_value
        in: query
        required: false
        schema:
          type: string
        description: Required if a filter_type is custom_field. Identifies the value within the resource. Only applies to the custom_field filter.
        example: SUMMIT 2024
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Include bookings that were cancelled.
        example: "true"
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Add taxes and fees to spending and ADR.
        example: "true"
      responses:
        "200":
          description: List of top 4 locations by ADR with location and ADR.
          content:
            application/json:
              schema:
                type: object
                properties:
                  top_locations:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Location name
                          example: "Kansas City, MO"
                        adr:
                          type: string
                          format: decimal
                          description: Average daily rate
                          example: "417.58"
                  average_adr_per_location:
                    type: string
                    format: decimal
                    description: Total ADR divided by the number of locations
                    example: "142.21"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden - not an admin
        "422":
          description: Unprocessable Entity - bad parameters
        "500":
          description: Internal server error
  /locations/locations_breakdown:
    get:
      tags:
      - Top Locations
      summary: Locations with detailed information
      parameters:
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The start date for the summary report (YYYY-MM-DD).
        example: 2024-01-01
      - name: end_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The end date for the summary report (YYYY-MM-DD).
        example: 2024-12-31
      - name: report_type
        in: query
        required: true
        schema:
          type: string
          enum:
          - lodging
          - flights
          - car_rentals
          - all_trips
        description: "The type of report to generate (lodging, flights, car_rentals, all_trips)."
        example: lodging
      - name: filter_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - member
          - department
          - travel_policy
          - custom_field
        description: "The type of filter to apply (member, department, travel_policy, custom_field)."
        example: custom_field
      - name: filter_resource_id
        in: query
        required: false
        schema:
          type: integer
        description: Required if a filter_type is given. The id corresponds to the type of the resource being filtered.
        example: 123
      - name: filter_value
        in: query
        required: false
        schema:
          type: string
        description: Required if a filter_type is custom_field. Identifies the value within the resource. Only applies to the custom_field filter.
        example: SUMMIT 2024
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Include bookings that were cancelled.
        example: "true"
      - name: include_cancelled
        in: query
        required: false
        schema:
          type: boolean
          default: false
[...]
